* {
    margin: 0;
    padding: 0;
}

.background {
    width: 100vw;
    height: 100vh;
    background-image: url("img/minecraft.png");

}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
}